<div class="container">
  <div class="row justify-content-center">
    <div
      *ngFor="let article of articles; trackBy: trackByFn"
      class="card col-sm-12 col-md-6 col-lg-3"
      style="width: 18rem"
    >
      <div class="card-body">
        <h5 class="card-title">
          {{ article.title }}
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
          Word count: {{ article.wordcount }}
        </h6>
        <p [innerHTML]="article.snippet" class="card-text"></p>
        <a
          [routerLink]="[
            '/details',
            article.pageid,
            article.title,
            article.wordcount,
            searchTerm,
            article.snippet
          ]"
          class="card-link"
          >Details</a
        >
      </div>
    </div>
  </div>
</div>
